html, body{
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;  
    margin: 0;
    padding: 0;
    min-width: 300px;
}


header{
    background-color:#1F2833;
    background-size: cover;
    height: 100vh;
}



.invisible{
    display: none;
}

/*---Navbar---*/
.navbar-container{
    display:flex;
    justify-content: space-between;
    padding:10px 10vw;
    align-items: center;
}
 
.navbar-icons{
    color: #66FCF1;
    font-size: 30px;
    margin-right: 5px;
}
.navbar-links a {
    color: #66FCF1;
    text-decoration: none;
    font-size: 25px;
    margin-left:10px
}
/*---Jumbotron---*/
.jumbotron {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.jumbotron-message h4 {
    font-size: 50px;
    margin:250px auto 20px;
    color: #66FCF1;
}

.button-links {
    text-decoration: none;
    border: 2px solid #66FCF1;
    color: #C5C6C7;
    border-radius:3px;
    padding:2px 6px;
    margin: 0px 10px;
}

.button-links-jumbotron {
    font-size: 1.3em;
    text-decoration: none;
    border: 2px solid #66FCF1;
    color: #C5C6C7;
    border-radius:3px;
    padding:10px 6px;
    margin: 0px 10px;
    width: 100px;
}

.about-me {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color: #C5C6C7;
    padding:20px 10vw;
    justify-content: center;
    align-items: center;
}

.about-me-header {
    font-size: 1.6rem;
}
.about-me-text{
    font-size: 1.5rem;
    text-align: justify;
    text-justify: inter-word;
}

.highlight{
    font-size: 1.2em;
    color:#e31b6d

}
/*---Skills---*/

#skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote-text{
    font-style: italic;
    font-size: 1.3em;
    margin:20px;
    margin-bottom: 0;
}

.quote-author{
    font-weight: 800;
    font-size: 1.3em;
    margin-top: 10px;
    margin-bottom: 30px;
}

.section-title{
    font-size: 3rem;
}

.skills-buttons-container{
    margin-bottom: 40px;
}

.skills-button{
    background: white;
    border-radius: 3px;
    border: 3px solid #1F2833;
    padding:5px 10px;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    
}

.selected-button{
    background: #1F2833;
    color: white;
    opacity: unset;
    padding: 8px 12px;
    transition: padding 0.4s, background 0.4s;  
}
.selected-button:focus{
    outline: none;

}

#skills-grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 10vw; 
    text-align: center;
}

#skills-grid div{
    margin: 20px 8px;
}

#design-skills-grid{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10vw;
    text-align: center;
}

#design-skills-grid div{
    margin: 20px 8px;
}

.skills-logo{
    height: 80px;
}

.skills-container{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*---Portfolio---*/
#portfolio {
    margin-top: 150px;
    background: #f5f5f5;
    padding:10px 10vw;
    padding-bottom: 150px;
}

.portfolio-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1300px;
    
}

.project-box {
    border: 2px solid #1F2833;
    border-radius: 15px;
    background: #1F2833;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:30px;
    position: relative;
}

.project-box-image {
    border-radius: 15px 15px 0 0;
    width: 290px;
    height: 200px;
}

.project-stack img{
    height: 25px;
    margin: 5px
}

.project-box-name {
    color: #66FCF1;
    margin: 5px 0;
    font-size: 1.1rem;
} 

.project-buttons {
    margin: 10px 0;
}

.project-icons{
    font-size: 25px;
    margin:0 5px;
    color: #66FCF1;
}

.project-box-image:hover + p {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s;
 
}

.project-box-image:hover{
    opacity: 0.1;
    transition-property: opacity;
    transition-duration: 0.5s;
}

.project-description{
    top:0;
    left: 0;
    position: absolute;
    text-justify: inter-word;
    opacity: 0;
    pointer-events: none;
    color: white;
    margin: 5px 5px;
}

.mongo-icon-svg{
    width:30px;
    color: #66FCF1;
}
/*---Footer---*/

footer{
    background: #1F2833;
    color: #66FCF1;
    padding-bottom: 50px;
}

#contacts{
    color: #66FCF1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-message{
    display: flex;
    justify-content: center;
}

.footer-icons{
    margin-bottom: 20px;
    font-size: 50px;
    margin-right: 5px;
    color: #66FCF1;
}

/*---Animation--*/

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

/*Underline from left - Links*/ 
.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #66FCF1;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}

/* Hang - Social Icons*/
@-webkit-keyframes hvr-hang {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes hvr-hang {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @-webkit-keyframes hvr-hang-sink {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes hvr-hang-sink {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  .hvr-hang {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }

  /*--- @media ---*/
  @media all and (max-width: 450px) {
    header{
        height: auto;
        padding-bottom: 20px;
    }
    .jumbotron-message h4{
        font-size: 1.6em;
        margin-top: 30px;
    }

    .section-title{
        font-size: 1.8em;
    }

    .navbar-links{
        display: none;
    }
}